.header
	.top_h
		.logo
			img(src="img/logo.png", alt="")
			span духи и косметика
		.callback
			.phone_numbers
				a(href="tel:+77777777").call +77777777
				a(href="tel:+77777777").call +77779999

			.social_links
				a(href="#!").call_back обратный звонок
				.social
					a(href="#!")
						img(src="img/wpp.png", alt="")
					a(href="#!")
						img(src="img/telegram.png", alt="")
					a(href="#!")
						img(src="img/viber.png", alt="")
		
			.vk_group
					img(src="img/vk_logo.png", alt="")

			.basket
				img(src="img/basket.png", alt="")
				span Корзина пуста, <br>добавьте товар

	.menu
		.ule
			a.uno_menu(href="#!") О КОМПАНИИ
			a.uno_menu(href="#!") АКЦИИ
			a.uno_menu(href="#!") НОВОСТИ
			a.uno_menu(href="#!") ДОСТАВКА
			a.uno_menu(href="#!") ПРОИЗВОДИТЕЛИ
			a.uno_menu(href="#!") КОНТАКТЫ

		.search
			input(type="text" placeholder="поиск по товарам")
			a(href="#!")
				img(src="img/search.png", alt="")
	
	
	