extends ./layout/layout


block content
	.cards
		.ramka
			.in_card
				img(src="img/car.png", alt="")
				a(href="#!") Про доставку
		.ramka
			.in_card
				img(src="img/bag.png", alt="")
				a(href="#!") Подробнее
		.ramka
			.in_card
				img(src="img/time.png", alt="")
				a(href="#!") Подробнее

	.main_slider-wrap
		ul.slider
			li
				img(src="img/slider.jpg", alt="")
			li
				img(src="img/slider.jpg", alt="")
			li
				img(src="img/slider.jpg", alt="")

		.slider-nav
			span.slider-prev

			span.slider-next
			
		